.ipynb_checkpoints/Hand-checkpoint.py
.ipynb_checkpoints/handy-checkpoint.ipynb
.ipynb_checkpoints/handy-checkpoint.py
.ipynb_checkpoints/Untitled3-checkpoint.ipynb
.ipynb_checkpoints/Video-image-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
