.ipynb_checkpoints/Hand-checkpoint.py
.ipynb_checkpoints/handy-checkpoint.ipynb
.ipynb_checkpoints/handy-checkpoint.py
.ipynb_checkpoints/Untitled3-checkpoint.ipynb
.ipynb_checkpoints/Video-image-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/CNN-checkpoint.ipynb
.ipynb_checkpoints/trainlist01-checkpoint.txt
temp/.ipynb_checkpoints/_frame0-checkpoint.jpg
temp/.ipynb_checkpoints/_frame1-checkpoint.jpg
temp/.ipynb_checkpoints/_frame3-checkpoint.jpg
temp/.ipynb_checkpoints/_frame2-checkpoint.jpg
temp/.ipynb_checkpoints/_frame4-checkpoint.jpg
UCF/.ipynb_checkpoints/train_new-checkpoint.csv
